tempCodeRunnerFile.ipynb
traffic_video_modified1.mp4
traffic_detect copy.ipynb
traffic_detect.ipynb
traffic-red-light-running-violation-detection copy.ipynb
haarcascade_russian_plate_number1.xml
__pycache__
node_modules
uploads